
.display_pag {
    padding: .08rem 0 0 0;
}

.explain {
    width: 100%;
    padding: .1rem .22rem 0 .22rem;
    box-sizing: border-box;
    color: #1a1a1a;
    text-align: center;
}

.explain .title {
    font: 400 .12rem "黑体";
    padding: .14rem 0;
}

.explain .time {
    padding: .04rem;
    position: relative;
}

.explain .time span {
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
}

.explain .font {
    line-height: .2rem;
    padding: .22rem 0;
    text-align: left;
}

.cut {
    width: .24rem;
    height: .28rem;
    background: url(../images/art_details.png) no-repeat 0 -1.42rem;
    background-size: .26rem 1.7rem;
    margin: .07rem auto .3rem;
}

.pic_show {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: .15rem 0 0 0;
    width: 100%;
    box-sizing: border-box;
}

.details_show {
    width: 100%;
    box-sizing: border-box;
}

.details_show .pic_shadow {
    width: 2.25rem;
    height: 2.2rem;
    box-shadow: .08rem .08rem .08rem #ccc;
    background: url(../images/pic_box.png)no-repeat;
    background-size: 2.25rem 2.2rem;
    margin: 0 auto .2rem;
}

.pic_shadow .pic_box {
    width: 86%;
    height: 0;
    padding-bottom: 98%;
    padding: .17rem 0 98% .15rem;
}

.pic_show li {
    padding: .1rem .22rem 0 .22rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.pic_show li:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: .78rem;
    left: 0;
}

.pic_box img {
    width: 100%;
    height: auto;
}

.art_name {
    padding: .05rem 0;
}

.art_name {
    font: 400 0.2rem/0.2rem 黑体;
    color: #222222;
    float: left;
}

.pic_masseag {
    padding-left: 0.02rem;
    width: 100%;
}

.art_type span,
.art_type a {
    font: 400 .1rem/.1rem "黑体";
}

.art_type span {
    float: left;
}

.art_type a {
    float: right;
    color: #ccc;
}

.details_show .artist_box {
    height: 0.51rem;
    width: 100%;
}

.artist_box .artist_img {
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background: #ccc;
    float: left;
    margin-top: .13rem;
}

.artist_box .artist_img img {
    margin-top: .13rem;
    width: .25rem;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
}

.artist_box .artist_name {
    font: 400 .12rem/.51rem "黑体";
    color: #1b1b1b;
    margin-left: .1rem;
    float: left;
}

.artist_box font {
    float: right;
    padding-right: .26rem;
    height: .2rem;
    font: 400 0.12rem/.21rem "黑体";
    color: #8f272c;
    background: url(../images/art_details.png) no-repeat;
    background-size: .26rem 1.7rem;
    background-position: right -0.05rem top -0.23rem;
    margin-top: .14rem
}

.details_show .buy {
    height: .64rem;
    width: 100%;
    padding-top: .13rem;
}

.details_show .buy .price {
    float: left;
    font: 400 .15rem/.26rem "微软雅黑";
    color: #444444;
}

.buy .buy_menu {
    float: right;
    padding: .06rem .075rem .06rem .275rem;
    border: 1px solid #534c49;
    border-radius: 2px;
    background: url(../images/art_details.png) no-repeat .08rem -.95rem;
    background-size: .26rem 1.7rem;
    font: 400 .12rem/.12rem "黑体";
    color: #221815;
}

.recommend {
    width: 100%;
    height: .44rem;
    position: relative;
}

.recommend span {
    width: .5rem;
    height: .18rem;
    position: absolute;
    padding-right: .25rem;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(../images/art_details.png) no-repeat;
    background-size: .26rem 1.7rem;
    background-position: right 0 top -.6rem;
}

.display2 .dis_box .speegle {
    background: url(../images/result.png)no-repeat 0 -1.5rem;
    background-size: 1.485rem 1.905rem;
}
