.pic_list {
    padding: 0 .18rem;   
}
.art_list_top {
    background-color: #fff;
    width: 100%;
    height: .93rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2001;
}

.con_top,
.list_menu {
    width: 100%;
    box-sizing: border-box;
}

.con_top {
    height: .5rem;
}

.list_menu {
    padding: 0 .18rem;
    margin: .5rem auto 0;
    height: .425rem;
    padding: 0 .18rem 0;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.list_menu a {
    display: block;
    position: relative;
    font: 400 .12rem/.18rem "黑体";
}

.list_menu a:not(:last-child):after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: .038rem solid transparent;
    border-right: .038rem solid transparent;
    border-top: .038rem solid #191919;
    position: absolute;
    left: .28rem;
    top: .08rem;
}

.list_menu a:last-child {
    color: #953338;
    margin-right: .16rem;
}

.list_menu a:last-child:after {
    content: "";
    display: block;
    width: .09rem;
    height: .07rem;
    background: url(../images/result.png) no-repeat 0 -1.08rem;
    background-size: 1.485rem 2.12rem;
    background-color: #fff;
    position: absolute;
    left: .28rem;
    top: .06rem;
}

.art_list {
    padding-top: 1.08rem;
}

.ad{
    margin:.06rem 0 .18rem 0;
}

