.pic_list {
    padding: 0 .18rem;   
}

.art_list {
    padding-top: 1.08rem;
}

.art_list_top {
    background-color: #fff;
    width: 100%;
    height: .93rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2001;
}

.con_top,
.list_menu {
    width: 100%;
}

.con_top {
    height: .5rem;
}

.list_menu {
    margin: .5rem auto 0;
    height: .425rem;
    padding: 0 .18rem 0;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.list_menu dl {
    display: block;
    font: 400 .12rem/.425rem "黑体";
    width: 18%;
    height: .425rem;
}

.list_menu dl dt{
     position: relative;
     cursor: pointer;
}

.list_menu dl:not(:last-child) dt:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: .038rem solid transparent;
    border-right: .038rem solid transparent;
    border-top: .038rem solid #191919;
    position: absolute;
    left: .28rem;
    top: .2rem;
}

.list_menu dl:last-child dt{
    color: #953338;
    margin-right: .16rem;
}

.list_menu dl:last-child dt:after {
    content: "";
    display: block;
    width: .09rem;
    height: .07rem;
    background: url(../images/result.png) no-repeat 0 -1.08rem;
    background-size: 1.485rem 2.12rem;
    background-color: #fff;
    position: absolute;
    left: .28rem;
    top: .18rem;
}

.list_menu dl dd{
    z-index: 5;
    position: absolute;
    left: 0;
    top:.42rem;
    background: #f9f9f9;
    width:100%;
    box-sizing: border-box;
    padding:.15rem 0 .2rem .2rem;
    display: none;
}

.list_menu dl dd.on{
    display: block;
}

.list_menu dl dd a{
    width:50%;
    color:#1d1d1d;
    float: left;
    font:400 .12rem/.27rem "黑体";

}

.list_menu dl dd a.on{
    color:#f40b0f;
}
.art_list .ad{
    margin:.06rem 0 .18rem 0;
}

