.artist_list {
    padding-top: .31rem;
}

.rec_title {
    border-top: 1px solid #ccc;
    padding: 0 .2rem;
    box-sizing: border-box;
    margin-top: .19rem;
}

.rec {
    width: 100%;
    height: 0;
    border-top: .02rem solid #232323;
    margin: .33rem 0 .245rem 0;
    position: relative;
}

.rec span {
    width: .8rem;
    height: .18rem;
    padding-left:.11rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: .18rem;
    background: url(../images/art_details.png) no-repeat right -.78rem;
    background-size: .26rem 1.7rem;
    background-color: #fff;
}

.artist_rec {
    margin-top: .05rem;
}

.artists {
    padding: 0 .2rem;
    width: 100%;
    box-sizing: border-box;
}

.art_book_box {
    width: 100%;
    padding: 0 0 0 .2rem;
    box-sizing: border-box;
    overflow: hidden
}

ul.art_book {
    width: 1000px;
}

ul.art_book li {
    float: left;
    margin-right: .03rem;
}

ul.art_book li a {
    display: block;
    width: .84rem;
    height: 0;
    padding-bottom: 100%;
}

ul.art_book li a img {
    width: 100%;
    height: auto;
}

.ad{
    margin:.2rem 0 0 0 ;
}
