.top{
  width: 100%;
  padding:0 .2rem;
  box-sizing:border-box;
}

.con_top{
  height:.21rem;
  margin-top:.176rem;
}

.con_top .top_menu{
   width:.245rem;
   height:0;
   padding-bottom:.13rem;
   background: url(../images/result.png) no-repeat;
   background-color: #fff; 
   background-size:1.485rem 1.905rem;
   position: relative;
   float: left;  
}

.con_top .top_menu span, .left_sidebar dl.noline span{
  display: block;
  width:.18rem;
  height:.18rem;
  background-color: #ff0000;
  border-radius:100%;
  color:#fff;
  font:400 .12rem/.18rem "黑体";
  text-align:center;
  position: absolute;
}

.con_top .top_menu span{
   left:.175rem;
   top:-.1rem;
}
 .con_top .top_logo{
  width:69%;
  height:0;
    padding-bottom:.21rem;
  float: left;
  background: url(../images/result.png) no-repeat .525rem -.18rem;
  background-color: #fff; 
  background-size:1.485rem 1.905rem;
  color:#454545;
}

.con_top .cancel{
  float: right;
  font:400 .12rem/.15rem "黑体";
}

.rec_title{
  border-top:1px solid #ccc;
  padding:0 .2rem ;
  box-sizing: border-box;
  margin-top:.19rem;
}

.rec{
  width:100%;
  height:0;
  border-top:.02rem solid #232323;
  margin:.33rem 0 .245rem 0;
  position: relative;
}

.rec span{
  width:.8rem;
  height:.18rem;
  padding-right:.15rem;
  text-align: center;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  right: 0;
  margin:auto;
  line-height: .18rem;
  background:url(../images/art_details.png) no-repeat right -.78rem;
  background-size:.26rem 1.7rem;
  background-color:#fff;
}

.artist_rec{
  margin-top:.05rem;
}

.artists{
  padding:0 .2rem;
  width:100%;
  box-sizing: border-box;
}

 .artist_box{
  height:0.51rem;
  width:100%;
}

.artist_box .artist_img{
  width:.25rem;
  height: .25rem;
  border-radius: 50%;
  background: #ccc;
  float:left;
  margin-top:.13rem;
}

.artist_box .artist_img img{
  margin-top: .13rem;
  width:.25rem;
  height:0;
  padding-bottom:100%;
  border-radius: 50%;
}

.artist_box .artist_name{
    font:400 .12rem/.51rem "黑体";
    color:#1b1b1b;
    margin-left:.1rem;
    float: left;
}

.artist_box .num,.artist_box .line,.artist_box .zan{
  font:400 .12rem/.51rem "黑体";
  color:#b5b5b5;
  float:right;
}

.art_book_box{
  width:100%;
  padding:0 0 0 .2rem;
  box-sizing: border-box;
  overflow: hidden
}

ul.art_book{
  width:1000px;
}

ul.art_book li{
  float: left;
  margin-right:.03rem;
}

ul.art_book li a{
  display: block;
  width:.84rem;
  height:0;
  padding-bottom: 100%;
}

ul.art_book li a img{
  width:100%;
  height:auto;
}

.shufameili{
  width:100%;
  height:2.135rem; 
  background: #222222;
  position: relative;
  margin-bottom: .18rem;
}

.shufameili .shufa,.shufameili p{
  position: absolute;
  left:50%;
  top:50%;
}

.shufameili .shufa{
  width:1.45rem;
  height:0.43rem;
  background: url(../images/result.png)no-repeat 0 -.575rem;
  background-color:#222222; 
  background-size:1.485rem 1.905rem;
  -webkit-transform: translate(-50%,-60%);
  -ms-transform: translate(-50%,-60%);
  transform: translate(-50%,-60%);
} 

.shufameili p{
  -webkit-transform: translate(-50%,350%);
  -ms-transform: translate(-50%,350%);
  transform: translate(-50%,350%);
  font-weight: normal;
  color: #fff;
  font-size: .1rem;
}

.artist_list .shufameili{
   margin:.22rem 0 0 0;
}
