
.artist_list {
    padding-top: .5rem;
}

.rec_title {
    padding: 0 .2rem;
    box-sizing: border-box;
    margin-top: .19rem;
}

.rec {
    width: 100%;
    height: 0;
    border-top: .02rem solid #232323;
    margin: .33rem 0 .245rem 0;
    position: relative;
}

.rec span {
    width: .8rem;
    height: .18rem;
    padding-right: .15rem;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: .18rem;
    background: url(../images/art_details.png) no-repeat right -.78rem;
    background-size: .26rem 1.7rem;
    background-color: #fff;
}

.artist_rec {
    margin-top: .05rem;
}

.artists {
    padding: 0 .2rem;
    width: 100%;
    box-sizing: border-box;
}

.artist_box .line{
   padding:0;
}

.art_book_box {
    width: 100%;
    padding: 0 0 0 .2rem;
    box-sizing: border-box;
}

ul.art_book {
    white-space: nowrap;
    font-size:0;
    overflow: hidden;
}

ul.art_book li {   
    margin-right: .03rem;
    display: inline-block;
    width:28.58%;
    box-sizing: border-box;
}

ul.art_book li a {
    display: block;
    width:100%;
    height: 0;
    padding-bottom: 100%;
    background: url(../images/load.jpg) no-repeat center center;
    background-size: 100%;
    position: relative;
    overflow: hidden;
}

ul.art_book li a img {
    width: 100%;
    height: auto;
}
.ad{
    margin:.2rem 0 0 0 ;
}
