@charset "utf-8";html{
	font-size:100px;
}

@media(min-width:320px){
	html{
		font-size:100px;
	}
}

@media(min-width:360px){
	html{
		font-size:112.5px;
	}
}

@media(min-width:400px){
	html{
		font-size:125px;
	}
}

@media(min-width:640px){
	html{
		font-size:200px;
	}
}

body{
	background: #fff;
	font-size:0.12rem;
}

.clearfix:after{
	content:"";
	display: block;
	visibility: hidden;
	clear:both;
	height:0;
}

html,body,form,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,b,u,i,p,em,td,th,input,textarea,label,select,iframe {
  font-family: "黑体",Arial;
  color: #444;
  padding: 0;
  margin: 0
}

html*{
	outline:0;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

img{
	font-size:.06rem;
	vertical-align:middle;
}

input{
	outline:0;
}

td{
	font-family:Arial;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

 ul li{
 	vertical-align:bottom;
 	padding:0;
 	margin:0;
 }

 em i{
 	font-style:normal;
 }

 li{
 	list-style:none;
 }

 ol{
    list-style-type:none;
    list-style:none;
 }

 dd{
 	margin-left:0;
 }

 a img{
 	border:0;
 }

 h1{
 	font-size:.1rem;
 }

 h2,h3{
 	font-size:.07rem;
 	font-family: "黑体";
 }

 h4,h5,h6{
 	font-size:.06rem;
 }

 a{
 	color:#666;
 	text-decoration:none;
 	outline:0;
 }

 a:active{
 	color:#ff9600;
 	text-decoration:none;
 }

 a{
 	-webkit-tap-highlight-color:rgba(0,0,0,0);
 }
 .my_recharge_safe {
    position: absolute;
    width: 2.7rem;
    top: 50%;
    left: 50%;
    margin: -.95rem 0rem 0rem -1.35rem;
    background-color: #fff;
    z-index: 99999;
    border-radius: .15rem;
}
.allpop_close {
    position: absolute;
    width: .4rem;
    height: .6rem;
    z-index: 30;
    top: -.6rem;
    right: -.05rem;
    background: url(../images/allpop_close.png) center bottom no-repeat;
    background-size: .33rem .51rem;
}
.my_recharge_safe dl dt {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: .1rem .16rem 0rem;
}
.my_recharge_safe dl dt em {
    width: 100%;
    text-align: center;
    font: 400 .18rem/0.5rem "黑体";
    color: #111;
    display: block;
}
.my_recharge_safe dl dt p {
    font: 400 .14rem/0.16rem "黑体";
    color: #333;
    padding-bottom: .1rem;
    text-align: center;
}
.my_recharge_safe dl dd {
    width: 100%;
    float: left;
    border-top: 1px solid #dedede;
}
.my_recharge_safe dl dd a {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    font: 400 .18rem/0.44rem "黑体";
    color: #0479fa;
    box-sizing: border-box;
}
.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0,0,0,.4);
}

