@charset "utf-8";
html {
    font-size: 100px;
}

@media(min-width:320px) {
    html {
        font-size: 100px;
    }
}

@media(min-width:360px) {
    html {
        font-size: 112.5px;
    }
}

@media(min-width:400px) {
    html {
        font-size: 125px;
    }
}

@media(min-width:640px) {
    html {
        font-size: 200px;
    }
}

body {
    background: #fff;
    font-size: 0.12rem;
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

html,body,form,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,b,u,i,p,em,td,th,input,textarea,label,select,iframe {
    font-family: "黑体", Arial;
    color: #444;
    padding: 0;
    margin: 0;
    font-style:normal;
}

html* {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
}

img {
    font-size: .06rem;
    vertical-align: middle;
}

input {
    outline: 0;
}

td {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul li {
    vertical-align: bottom;
    padding: 0;
    margin: 0;
}

em i {
    font-style: normal;
}

li {
    list-style: none;
}

ol {
    list-style-type: none;
    list-style: none;
}

dd {
    margin-left: 0;
}

a img {
    border: 0;
}

h1 {
    font-size: .1rem;
}

h2,
h3 {
    font-size: .07rem;
    font-family: "黑体";
}

h4,
h5,
h6 {
    font-size: .06rem;
}

a {
    color: #666;
    text-decoration: none;
    outline: 0;
}

a:active {
    color: #ff9600;
    text-decoration: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.my_recharge_safe {
    position: absolute;
    width: 2.7rem;
    top: 50%;
    left: 50%;
    margin: -.95rem 0rem 0rem -1.35rem;
    background-color: #fff;
    z-index: 99999;
    border-radius: .15rem;
}

.allpop_close {
    position: absolute;
    width: .4rem;
    height: .6rem;
    z-index: 30;
    top: -.6rem;
    right: -.05rem;
    background: url(../images/allpop_close.png) center bottom no-repeat;
    background-size: .33rem .51rem;
}

.my_recharge_safe dl dt {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: .1rem .16rem 0rem;
}

.my_recharge_safe dl dt em {
    width: 100%;
    text-align: center;
    font: 400 .18rem/0.5rem "黑体";
    color: #111;
    display: block;
}

.my_recharge_safe dl dt p {
    font: 400 .14rem/0.16rem "黑体";
    color: #333;
    padding-bottom: .1rem;
    text-align: center;
}

.my_recharge_safe dl dd {
    width: 100%;
    float: left;
    border-top: 1px solid #dedede;
}

.my_recharge_safe dl dd a {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    font: 400 .18rem/0.44rem "黑体";
    color: #0479fa;
    box-sizing: border-box;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .4);
}


/*顶部logo*/

.con_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: .5rem;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: .176rem .215rem 0 .215rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.con_top .top_menu {
    width: 8.92%;
    height: 0;
    padding-bottom: .13rem;
    background: url(../images/result.png) no-repeat;
    background-color: #fff;
    background-size: 1.485rem 1.905rem;
    position: relative;
}

.con_top .top_menu span,
.left_sidebar dl.noline span {
    display: block;
    width: .18rem;
    height: .18rem;
    background-color: #ff0000;
    border-radius: 100%;
    color: #fff;
    font: 400 .12rem/.18rem "黑体";
    text-align: center;
    position: absolute;
}

.con_top .top_menu span {
    left: .175rem;
    top: -.1rem;
}

.con_top .top_logo {
    width: 46%;
    height: 0;
    padding-bottom: .21rem;
    background: url(../images/result.png) no-repeat 0 -.18rem;
    background-color: #fff;
    background-size: 1.485rem 1.905rem;
    color: #454545;
}

.con_top .cancel {
    width: 11%;
    font: 400 .12rem/.15rem "黑体";
}


/*侧边栏部分*/

.wrap {
    background: #fff;
    min-width: 3.2rem;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

body.with-panel-left-reveal .page {
    -webkit-transform: translate3d(2.09rem, 0, 0);
    transform: translate3d(2.09rem, 0, 0);
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.left_sidebar {
    background: #2c2b2a;
    width: 2.09rem;
    z-index: 1000;
    display: none;
    color: white;
    box-sizing: border-box;
    padding: .175rem 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 150ms;
    transition: transform 150ms;
}

.max_index {
    z-index: 6002;
}

.left_sidebar .account_area {
    width: 100%;
    height: .55rem;
    padding: 0 0 0 .175rem;
    border-bottom: 1px solid #444444;
}

.left_sidebar .account_area .account_img {
    float: left;
    width: .43rem;
    height: 0;
    padding-bottom: .43rem;
    background: #fff;
    border-radius: 100%;
}

.left_sidebar .account_area .account_name {
    float: left;
    height: .43rem;
    width: 1.2rem;
    margin-left: .125rem;
    font: 400 .12rem/.43rem "ºÚÌå";
    color: #b0b0b0;
}

.left_sidebar dl {
    width: 100%;
    padding: 0 0 0 .175rem;
    border-bottom: 1px solid #444444;
}

.left_sidebar dl.noline {
    border-bottom: none;
    position: relative;
}

.left_sidebar dl.noline span {
    top: .08rem;
    left: 1rem;
}

.left_sidebar dl.select {
    position: relative;
}

.left_sidebar dl.on dt {
    color: #eee;
}

.left_sidebar dl.select dt:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: .038rem solid transparent;
    border-right: .038rem solid transparent;
    border-top: .038rem solid #b0b0b0;
    position: absolute;
    left: 1.9rem;
    top: .15rem;
}

.left_sidebar dl dt {
    padding: .08rem 0 .08rem 0.27rem;
    height: .16rem;
    font: 400 .12rem/.16rem "黑体";
    color: #b0b0b0;
    background: url(../images/listimg.png) no-repeat;
    background-size: .18rem 1.915rem;
}

.left_sidebar dl dt.list_bck1 {
    background-position: 0 -5%;
}

.left_sidebar dl dt.list_bck2 {
    background-position: 0 10%;
}

.left_sidebar dl dt.list_bck3 {
    background-position: 0 26%;
}

.left_sidebar dl dt.list_bck4 {
    background-position: 0 42%;
}

.left_sidebar dl dt.list_bck5 {
    background-position: 0 57%;
}

.left_sidebar dl dt.list_bck6 {
    background-position: 0 72%;
}

.left_sidebar dl dt.list_bck7 {
    background-position: 0 88%;
}

.left_sidebar dl dt.list_bck8 {
    background-position: 0 104%;
}

.left_sidebar dl.select dd {
    margin: 0 0 .03rem .58rem;
    display: none;
}

.left_sidebar dl.select dd a {
    display: block;
    color: #eee;
    font: 400 .12rem/.28rem "黑体";
    position: relative;
}

.panel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    z-index: 5999;
    display: none;
}

body.with-panel-left-reveal .panel-overlay {
    margin-left: 2.09rem;
    /*-webkit-transform: translate3d(2.09rem, 0, 0);
    transform: translate3d(2.09rem, 0, 0);*/
}

body.panel-closing .page {
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
/*艺术品列表*/
.pic_details_box{
    position: absolute;
    left:-.04rem;
    bottom:0.005rem;
    transform:scale(0.9);
    -ms-transform:scale(0.9);     /* IE 9 */
    -moz-transform:scale(0.9);    /* Firefox */
    -webkit-transform:scale(0.9); /* Safari 和 Chrome */
    -o-transform:scale(0.9);
}

.pic_list {
    width: 100%;
    box-sizing: border-box;
    padding: 0 .18rem;
    font-size: 0;
}

.pic_list li {
    display: inline-block;
    width: 48.7%;
    margin-right: 2.6%;
    position: relative;
    height:2.1rem;
}

.pic_list li:nth-child(2n) {
    margin-right: 0;
}

.pic_list li a .pic {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.pic_list li .pic img {
    width: 100%;
    height: auto;
}

.pic_list li .pic span {
    position: absolute;
    right: .11rem;
    bottom: .11rem;
    font-size:.14rem;
    font-family: "黑体";
    font-weight:normal;
    color: #fff;
    z-index: 1000;
}

.pic_list li .pic_name,
.pic_list li .artist,
.pic_list li .pic_size {
    color: #1a1a1a;
}

.pic_list li .pic_name {
    margin-top: .075rem;
    font: 400 .12rem/.18rem "黑体";
}

.pic_list li .artist,.pic_list li .pic_size  {
    font: 400 .12rem/.2rem "黑体";
}

.pic_list li .pic_size{
    margin-bottom: .08rem; 
}
.pic_list li .pic_size span{
    padding-right:.02rem;
}

.pic_list li .pic_size em{
    padding-left:.02rem;
}
