html,
body {
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:3;
}
/*首页*/
.sign {
    width: 100%;
    height: .435rem;
    background: #333;
    padding: .085rem .215rem;
    box-sizing: border-box;
}

.sign a {
    width: 1.3rem;
    height: .265rem;
    text-align: center;
    color: #c5c5c5;
    border: 1px solid rgba(255, 255, 255, .2);
    font: 400 .12rem/.265rem "黑体";
}

.sign a span {
    padding: 0 .04rem;
}

.sign a:first-child {
    float: left;
}

.sign a:last-child {
    float: right;
}

.index_content{
    width:100%;
    margin-top:.92rem;
}

.log_index{
   margin-top:.5rem!important; 
}

.banner{
    width:100%;
    height:0;
    padding-bottom:3.66rem;
}

.wap_banner{
    width:100%;
    height:0;
    padding-bottom:114.37%;
    position:relative;
    overflow:hidden;
}

.wap_banner .wap_pic a{
    position:absolute;
    width:100%;
    z-index:1;
}

.wap_banner .wap_pic a:nth-child(1){
    z-index:2;
}

.wap_banner .wap_pic img{
    width:100%;
    height:auto;
}

.wap_banner ul{
    position:absolute;
    z-index:2;
    margin-left:50%;
    margin-top:105.46%;
    transform: translateX(-50%);
}

.wap_banner li{
    float:left;
    margin-left:0.06rem;
}

.wap_banner li a{
    border-radius:100%;
    background-color:#888;
    width:0.12rem;
    height:0.12rem;
    display:block;
}

.wap_banner li.on a{
    background-color:#fff;
}

.index_list{
    width:100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.scale {
    transform-origin: center;
    transform: scale(0.8)!important;
}

ul.production {
    font-size: 0;
    position: relative;
    top:0;
    padding-top:.23rem;
    left: -55.5%; 
}


.production {
    padding: 0rem 0 0 0;
    width: 100%;
}

.index_list .production li {
    display: inline-block;
    transition: all 1s ease;
    font-size: 0;
    position: relative;
/*    transform-origin: center;
    transform: scale(0.8);*/
}

.box_shadow {
    width: 2.25rem;
    height: 2.2rem;
    box-shadow: 0.08rem 0.08rem 0.08rem #ccc;
    background: url(../images/pic_box.png)no-repeat;
    background-size: 2.25rem 2.2rem;
    margin: 0 auto .2rem;
}

.album_box {
    width: 1.93rem;
    height: 1.89rem;
    padding: 7.5% 0 0 6.5%;
    overflow: hidden;
}
.lazy_load_img{
    background: url(./images/load.jpg) no-repeat center center;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.pro_pic {
    width: 100%;
    box-sizing: border-box;
}

.box_shadow .pro_img {
    width: 86%;
    height: 0;
    padding-bottom: 98%;
    padding: .17rem 0 98% .15rem;
}

.pro_img img {
    width: 100%;
    height: auto;
}

.explain_box{
    width:100%;
    overflow: hidden; 
    
}

.pro_explain{
    white-space: nowrap;
    width:10000px;
    
}

.pro_explain li.show{
    /*display: block;*/
}

.pro_explain li{
    padding:0 .26rem;
    width: 2.25rem;
    height: 1.565rem;
    position: relative;
    left:.2rem;
    display: inline-block;
   /* display: none;*/

}

.pro_explain li:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: .63rem;
    left: 0;
}

.pro_explain .buy .price {
    float: left;
    font: 400 .15rem/.26rem "微软雅黑";
    color: #444444;
}

.pic_masseag .buy {
    height: .64rem;
    width: 100%;
    padding-top: .13rem;
}

.album{
    width: 100%;
    height: 0;
    padding-bottom: 124.4%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-top:.27rem;
}

.album_list li{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding:0 .2rem;
    display: inline-block;
}

.album_shadow{
    width: 2.25rem;
    height: 2.2rem;
    box-shadow: 0.08rem 0.08rem 0.08rem #ccc;
    background: url(../images/pic_box.png)no-repeat;
    background-size: 2.25rem 2.2rem;
    margin: 0 auto .2rem;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.explain .album_shadow{
    transform: scale(1);
    -webkit-transform: scale(1);
}

.album_box {
    width: 86%;
    height: 0;
    padding: 7.5% 0 84% 7%;
    overflow: hidden;
}

.album_box img {
    width: 100%;
    height: auto;
}

.album .pic_message{
    position: relative;
    padding:0 .3rem;
}

.album .pic_message:after{
    content: "";
    display: block;
    width: 105%;
    height: 0;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: .78rem;
   left: -2.25%;
}
/*收货地址页面*/
.address_con{
    width:100%;
    padding:.5rem 0 .45rem 0;
}

.address_con .address{
    border-bottom: 1px solid #f0f0f0;
    width:100%;
    box-sizing: border-box;
    padding:.21rem .18rem .15rem;
}

.address dt {
    margin-bottom:.14rem;
}

.address dt label{
    font-size:.12rem;
    color:#777;
    transform:scale(0.88);
    transform-origin: left;
    overflow: hidden;
    display: inline-block;
    max-width: 74%;
    white-space: nowrap;
    vertical-align: bottom;
}

/*.address dt .address_mes{
    font-size:.12rem;
    color:#777;
    transform:scale(0.88);
    transform-origin: left;
    overflow: hidden;
}*/

.address dd{
    line-height: .19rem;
}

.address dd a{
    display: inline-block;
    height: .19rem;
}

.address dd .set{
    width:1rem;
    padding-left:.31rem;
    margin-right:.9rem;
}

.address dd .xiugai,.address dd .delete{
    width:.25rem;
    background: url(../images/pay.png) no-repeat;
    background-size:.26rem 2.48rem;
    vertical-align:bottom;
}

.address dd .xiugai{
    background-position: 0.1rem -1.75rem;
}

.address dd .delete{
    background-position: 0.1rem -1.94rem;
}
/*支付成功页面*/
.payment{
    padding-top: .5rem;
    width:100%;
}

.success{
    width:1.28rem;
    height:1.28rem;
    border-radius: 100%;
    background-color:#ccc;
    margin:.425rem auto .27rem;
}

.payment p{
    text-align: center;
    margin-bottom:.49rem;
}

.payment .btn,.refund_page .btn{
    height:.6rem;
    width: 60.56%;
    margin:0 auto;
}

.refund_page .btn{
    margin-top:.25rem;
}

.refund_page p a{
    color:#2693ff;
}

.payment .btn a,.refund_page .btn a{
    display:block;
    padding: .06rem .16rem;
    border:1px solid #918c8a;
    border-radius: .02rem
}

.btn .continue{
    float: left;
}

.btn .check{
    float: right;
}

.recommend_box{
    border-top: 1px solid #e7e7e7;
    width: 100%;
    padding: 0.09rem .2rem 0;
    box-sizing: border-box;
    position: relative;
}

.recommend_box:before{
    content:'';
    display: block;
    width:100%;
    height:.09rem;
    background:linear-gradient(to bottom,rgba(237,238,240,0.8),rgba(248,248,248,1) );
    position: absolute;
    left:0;
    top:0;
}

/*文章页面*/

.article{
    padding-top: 0.5rem;
}

.title.bold{
    font-weight: bold;
}

.article .explain .time{
    font-family: "Microsoft YaHei";
}

.article .explain .pt{
    padding:.22rem 0 0 0;
}

.boxarea{
    height:2.17rem;
    width:100%;
    background: #ccc;
    margin:.43rem 0 .29rem 0;
}

.related_links{
    width: 100%;
    padding:0 .22rem;
    box-sizing: border-box;
}

.related_links .cut{
    margin:.47rem auto .35rem;
}

.related_links .recommend{
    border-top: 1px solid #d2d2d2;
}

.article_list{
    padding:0 .22rem;
}

.article_list li{
    width:47.5%;
    height:1.42rem;
}

.article_list .cover{
    width:100%;
    height:0;
    padding-bottom:66.54%;
    overflow: hidden;
}

.article_list .cover img{
    width:100%;
    height:auto;
}

.article_list li{
    margin-right:5%;
}

.article_title{
    width:110%;
    margin-top: .075rem;
    font: 400 .12rem/.17rem "黑体";
    transform:scale(0.88);
    transform-origin: left;
}


