html,
body {
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:3;
}

.sign {
    width: 100%;
    height: .435rem;
    background: #333;
    padding: .085rem .215rem;
    box-sizing: border-box;
}

.sign a {
    width: 1.3rem;
    height: .265rem;
    text-align: center;
    color: #c5c5c5;
    border: 1px solid rgba(255, 255, 255, .2);
    font: 400 .12rem/.265rem "Microsoft YaHei";
}

.sign a span {
    padding: 0 .04rem;
}

.sign a:first-child {
    float: left;
}

.sign a:last-child {
    float: right;
}

.con_top .search {
    width: 6%;
    height: .175rem;
    background: url(../images/result.png) no-repeat 0rem -1.26rem;
    background-size: 1.485rem 2.12rem;
}

.index_content{
    width:100%;
    margin-top:.965rem;
}

.banner{
    width:100%;
    height:0;
    padding-bottom:3.66rem;
}

.wap_banner{
    width:100%;
    height:0;
    padding-bottom:114.37%;
    position:relative;
    overflow:hidden;
}

.wap_banner .wap_pic a{
    position:absolute;
    width:100%;
    z-index:1;
}

.wap_banner .wap_pic a:nth-child(1){
    z-index:2;
}

.wap_banner .wap_pic img{
    width:100%;
    height:auto;
}

.wap_banner ul{
    position:absolute;
    z-index:2;
    margin-left:50%;
    margin-top:105.46%;
    transform: translateX(-50%);
}

.wap_banner li{
    float:left;
    margin-left:0.06rem;
}

.wap_banner li a{
    border-radius:100%;
    background-color:#888;
    width:0.12rem;
    height:0.12rem;
    display:block;
}

.wap_banner li.on a{
    background-color:#fff;
}

.index_list{
    width:100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.scale {
    transform-origin: center;
    transform: scale(0.8)!important;
}

ul.production {
    font-size: 0;
    position: relative;
    top:0;
    padding-top:.23rem;
    left: -55.5%; 
}


.production {
    padding: 0rem 0 0 0;
    width: 100%;
}

.index_list .production li {
    display: inline-block;
    transition: all 1s ease;
    font-size: 0;
    position: relative;
/*    transform-origin: center;
    transform: scale(0.8);*/
}

.box_shadow {
    width: 2.25rem;
    height: 2.2rem;
    box-shadow: 0.08rem 0.08rem 0.08rem #ccc;
    background: url(../images/pic_box.png)no-repeat;
    background-size: 2.25rem 2.2rem;
    margin: 0 auto .2rem;
}

.pro_pic {
    width: 100%;
    box-sizing: border-box;
}

.box_shadow .pro_img {
    width: 86%;
    height: 0;
    padding-bottom: 98%;
    padding: .17rem 0 98% .15rem;
}

.pro_img img {
    width: 100%;
    height: auto;
}

.explain_box{
    width:100%;
    overflow: hidden; 
    
}

.pro_explain{
    white-space: nowrap;
    width:10000px;
    
}

.pro_explain li.show{
    /*display: block;*/
}

.pro_explain li{
    padding:0 .26rem;
    width: 2.25rem;
    height: 1.565rem;
    position: relative;
    left:.2rem;
    display: inline-block;
   /* display: none;*/

}

.pro_explain li:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: .63rem;
    left: 0;
}

.pro_explain .buy .price {
    float: left;
    font: 400 .15rem/.26rem "微软雅黑";
    color: #444444;
}

.pic_masseag .buy {
    height: .64rem;
    width: 100%;
    padding-top: .13rem;
}



.album{
    width: 100%;
    height: 0;
    padding-bottom: 124.4%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-top:.27rem;
}

.album_list{
    /*position: absolute;*/
    /*left:-57%;*/
}

.album_list li{
    position: absolute;
    /*width: 70%;*/
    /*box-sizing: border-box;*/
    /*padding:0 .2rem;*/
    /*display: inline-block;*/
    /*margin:0 .13rem;*/


}

.album_show{
 /*   width: 100%;
    box-sizing: border-box;*/
    /*padding:0 .2rem;*/
}

.album_shadow{
    width: 2.25rem;
    height: 2.2rem;
    box-shadow: 0.08rem 0.08rem 0.08rem #ccc;
    background: url(../images/pic_box.png)no-repeat;
    background-size: 2.25rem 2.2rem;
    margin: 0 auto .2rem;
}

.album_box {
    width: 86%;
    height: 0;
    padding: 7.5% 0 84% 7%;
    overflow: hidden;
}

.album_box img {
    width: 100%;
    height: auto;
}

.album .pic_message{
    position: relative;
}

.album .pic_message:after{
    content: "";
    display: block;
    width: 120%;
    height: 0;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: .78rem;
   left: -10.25%;
}