html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hide {
    display: none;
}

.login_contant {
    padding: .31rem .19rem 0;
    box-sizing: border-box;
    width: 100%;
}

.line_font {
    margin: .36rem 0 .26rem;
    height: 0;
    padding-bottom: .045rem;
    position: relative;
}

.line_font .waterline {
    height: .01rem;
    border-top: 1px solid #454545;
    margin-top: .065rem;
}

.line_font .font1,
.line_font .font2 {
    height: 0;
    text-align: center;
    padding-bottom: .11rem;
    font: 400 .12rem/.11rem "Microsoft YaHei";
    background-color: #fff;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.line_font .font1 {
    width: .78rem;
}

.line_font .font2 {
    width: 1.63rem;
}

.login_box input {
    width: 100%;
    box-sizing: border-box;
    height: .4rem;
    padding: 0 .1rem;
    font-size: .12rem;
    border: 1px solid #dddddd;
    border-bottom: none;
}

.login_box .on {
    border-bottom: 1px solid #dddddd;
}

.login_box .login_menu {
    display: block;
    margin-top: .15rem;
    width: 100%;
    height: 0;
    padding-bottom: .41rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    font: 400 .12rem/.41rem "ºÚÌå";
}

.login_box .inline {
    width: 100%;
    height: 0;
    padding-bottom: .395rem;
}

.login_box .inline .long {
    width: 65%;
    float: left;
}

.login_box .inline .short {
    width: 35%;
    float: left;
    background-color: #fff;
    color: #000;
    font: 400 .12rem/.395rem "ºÚÌå";
}

.login_box dl {
    height: 0;
    padding-bottom: .21rem;
    margin-top: .13rem;
}

.login_box dt {
    width: .185rem;
    height: .185rem;
    border: 1px solid #cecece;
    float: left;
    text-align: center;
    background: url(../images/result.png) no-repeat 0.03rem -.37rem;
    background-color: #fff;
    background-size: 1.485rem 1.905rem;
}

.login_box dd {
    float: left;
    margin-left: .11rem;
    color: #888888;
    line-height: .21rem;
}

.login_box .login_bottom {
    margin-top: .065rem;
    border-bottom: 1px solid #454545;
    width: 100%;
    height: 0;
    padding-bottom: .515rem;
}

.login_box .login_bottom span {
    float: left;
    line-height: .515rem;
}

.login_box .login_bottom span:last-child {
    float: right;
}

.login_box p {
    width: 100%;
    margin-top: .22rem;
    text-align: center;
    color: #bfbfbf;
}

.km-dialog-mask,.regist_phone_dialog{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
}

.km-dialog-mask {
    width: 100%;
    height: 100%;
    z-index: 6000;
    background-color: #000;
    opacity: .6;
}

.regist_phone_dialog {
    font-size: .12rem;
    right:0;
    bottom:0;
    margin:auto;
    border-radius: .1rem;
    background-color: #fff;
    color:#000;
    z-index: 6001;
    text-align: center; 
    padding:.05rem;
    line-height: .3rem;
    height: .3rem;
    min-width: .16rem;
    max-width: 2rem;
}
